{% extends "layouts/admin.twig" %}

{% block title %} Create housing {% endblock %}

{% block content %}
    <div class="mb-3">
        <a href="{{ route("dashboard.housings.index") }}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back</a>
    </div>
    <div class="card">
        <div class="card-body">
            <form method="post" action="{{ route("dashboard.housings.store") }}" class="mb-3" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ old("name") }}">

                            {% if error("name") %}
                                <div class=invalid-feedback">{{ error("name") }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="images">Images</label>
                            <input type="file" class="form-control-file" id="images" name="images[]" multiple value="{{ old("images") }}">

                            {% if error("images") %}
                                <div class=invalid-feedback">{{ error("images") }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" name="description" id="tiny" cols="30" rows="10">{{ old("description") }}</textarea>

                            {% if error("description") %}
                                <div class=invalid-feedback">{{ error("description") }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="equipments">Equipments <sup>* multiple</sup></label>
                            <select multiple class="form-control" id="equipments" name="equipments[]">
                                <option value="">Any options</option>

                                {% for equipment in equipments %}
                                    <option value="{{ equipment.id }}">{{ equipment.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="type">Type</label>
                            <select class="form-control" id="type" name="type">
                                {% for type in types %}
                                    <option  {% if type.id is same as old("type")  %} selected {% endif %} value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>

                            {% if error("type") %}
                                <div class=invalid-feedback">{{ error("type") }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="price">Price</label>
                            <div class="input-group">
                                <input type="number" min="0" step="0.01" class="form-control" id="price" name="price" value="{{ old("price") }}">

                                <div class="input-group-append">
                                    <span class="input-group-text">{{ config("currency") }}</span>
                                </div>
                            </div>
                            {% if error("price") %}
                                <div class=invalid-feedback">{{ error("price") }}</div>
                            {% endif %}
                        </div>
                    </div>



                    <div class="col-md-12 mb-3">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="active" name="active" {{ checked(old("active")) }}>
                            <label class="custom-control-label" for="active">active</label>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}


{% block styles %}

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer_scripts %}

{% endblock %}
