{% extends "layouts/admin.twig" %}

{% block title %} Housings {% endblock %}

{% block content %}
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ route("dashboard.housings.create") }}" class="btn btn-primary"><i class="fas fa-plus"></i> Create</a>
    </div>
    <div class="card">
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Type</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for housing in housings %}
                        <tr>
                            <th scope="row">{{ housing.id }}</th>
                            <td>{{ housing.name }}</td>
                            <td>{{ housing.price }}</td>

                            {% if housing.active %}
                                <td><span class="badge badge-warning">Active</span></td>
                            {% else %}
                                <td><span class="badge badge-danger">Disabled</span></td>
                            {% endif %}

                            {% if housing.getType() is same as false %}
                                <td><span class="badge badge-danger">Any type !</span></td>
                            {% else %}
                                <td>{{  housing.getType().name }}</td>
                            {% endif %}

                            <td class="d-flex gap-3">
                                <a href="{{ route('dashboard.housings.show', {'id': housing.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>

                                <form method="post" action="{{ route('dashboard.housings.delete', {'id': housing.id}) }}">
                                    {{ method("delete") }}
                                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}


{% block styles %}

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer_scripts %}

{% endblock %}
