{% extends "layouts/main.twig" %}

{% block title %} Profile {% endblock %}

{% block content %}
    <H1 class="mb-3">Profile</H1>
    <div class="card mb-3">
        <div class="card-body">
            <form action="{{ route("profile.update") }}" method="post">
                {{ method("patch") }}

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" value="{{ old("email", user.email) }}">

                            {% if error("email") %}
                                <p class="help-block">{{ error("email") }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label">First name</label>
                            <input type="text" class="form-control" name="firstname" value="{{ old("firstname", user.firstname) }}">

                            {% if error("firstname") %}
                                <p class="help-block">{{ error("firstname") }}</p>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Last name</label>
                            <input type="text" class="form-control" name="lastname" value="{{ old("lastname", user.lastname) }}">

                            {% if error("lastname") %}
                                <p class="help-block">{{ error("lastname") }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" value="{{ old("password") }}">

                            {% if error("password") %}
                                <p class="help-block">{{ error("password") }}</p>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password confirm</label>
                            <input type="password" class="form-control" name="password_confirm" value="{{ old("password_confirm") }}">

                            {% if error("password_confirm") %}
                                <p class="help-block">{{ error("password_confirm") }}</p>
                            {% endif %}
                        </div>
                    </div>

                </div>

                <button class="btn btn-success"><i class="fas fa-save"></i> Save</button>
            </form>
        </div>
    </div>

    <H1 class="mb-3">Liked housings</H1>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex overflow-auto">
                {% for housing in user.getLikeds() %}
                    <div class="row">
                        <div class="col-sm-12 mb-3 mb-sm-0">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{{ route("housings.show", {id : housing.id }) }}">{{ housing.name }}</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <H1 class="mb-3">My bookings</H1>
    <div class="card mb-3">
        <div class="card-body">
            {% for booking in bookings %}
                <div class="row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ route("housings.show", {id : booking.getHousing().id }) }}">{{ booking.getHousing().name }}</a></h5>

                                {% set comment = booking.getCommentByUser(user.id) %}
                                <p class="card-text">{{ comment.stars }} <i class="bi bi-star-fill"></i> | {{ comment.comment }}</p>
                            </div>
                            <div class="card-body">
                                From {{ booking.start_at|date("d/m/Y") }} to {{ booking.end_at|date("d/m/Y") }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
