{% extends "layouts/main.twig" %}

{% block title %} Register {% endblock %}

{% block content %}
    <h1>Register</h1>

    <form action="{{ route("register.store") }}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="firstname" class="form-label">Firstname</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="" value="{{ old("firstname") }}">

                    {% if error("firstname") %}
                        <div class="invalid-feedback d-block">{{ error("firstname") }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="lastname" class="form-label">Lastname</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="" value="{{ old("lastname") }}">

                    {% if error("lastname") %}
                        <div class="invalid-feedback d-block">{{ error("lastname") }}</div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{ old("email") }}">

            {% if error("email") %}
                <div class="invalid-feedback d-block">{{ error("email") }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" value="">
            <p class="help-block">Password should be at least 4 characters</p>

            {% if error("password") %}
                <div class="invalid-feedback d-block">{{ error("password") }}</div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
        <a href="{{ route("login") }}">Already have an account ?</a>
    </form>
{% endblock %}
